.tree-row {
  display: grid;
  grid-template-columns:
    [leading] auto
    [key] auto
    [value] 1fr;

  > .tree-row-leading {
    grid-column: leading;
  }
  > .tree-key {
    grid-column: ghost;
  }
}

.tree-twisty {
  flex-shrink: 0;
}
.tree-beacon-badge {
  flex-shrink: 0;
}
.tree-rule-icon {
  flex: 0 0 auto;
}
