{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-organize-imports"]
}
