<div class="toolbar">
  <button
    type="button"
    mat-icon-button
    matTooltip="Paste JSON from clipboard"
    i18n-matTooltip="@@toolbar.paste.tooltip"
    aria-label="Paste JSON from clipboard"
    i18n-aria-label="@@toolbar.paste.aria"
    (click)="paste.emit()"
  >
    <mat-icon>content_paste</mat-icon>
  </button>

  <button
    type="button"
    mat-icon-button
    matTooltip="Upload file"
    i18n-matTooltip="@@toolbar.upload.tooltip"
    aria-label="Upload file"
    i18n-aria-label="@@toolbar.upload.aria"
    (click)="triggerFilePicker()"
  >
    <mat-icon>upload_file</mat-icon>
  </button>
  <input
    #fileInput
    type="file"
    class="hidden-file-input"
    accept=".json,.jsonc,.jsonl,.geojson,.txt,application/json"
    (change)="onFileChange($event)"
  />

  <button
    type="button"
    mat-icon-button
    matTooltip="Download as file"
    i18n-matTooltip="@@toolbar.download.tooltip"
    aria-label="Download as file"
    i18n-aria-label="@@toolbar.download.aria"
    [disabled]="!hasContent()"
    (click)="download.emit()"
  >
    <mat-icon>download</mat-icon>
  </button>

  <span class="divider" aria-hidden="true"></span>

  <button
    type="button"
    mat-icon-button
    matTooltip="Format (pretty-print)"
    i18n-matTooltip="@@toolbar.format.tooltip"
    aria-label="Format"
    i18n-aria-label="@@toolbar.format.aria"
    [disabled]="!hasContent()"
    (click)="format.emit()"
  >
    <mat-icon>data_object</mat-icon>
  </button>

  <button
    type="button"
    mat-icon-button
    matTooltip="Minify"
    i18n-matTooltip="@@toolbar.minify.tooltip"
    aria-label="Minify"
    i18n-aria-label="@@toolbar.minify.aria"
    [disabled]="!hasContent()"
    (click)="minify.emit()"
  >
    <mat-icon>compress</mat-icon>
  </button>

  <button
    type="button"
    mat-icon-button
    matTooltip="Clear editor"
    i18n-matTooltip="@@toolbar.clear.tooltip"
    aria-label="Clear editor"
    i18n-aria-label="@@toolbar.clear.aria"
    [disabled]="!hasContent()"
    (click)="clear.emit()"
  >
    <mat-icon>delete_sweep</mat-icon>
  </button>

  <span class="divider" aria-hidden="true"></span>

  <mat-button-toggle-group
    class="mode-toggle"
    [value]="mode()"
    (change)="onModeChange($any($event.value))"
    aria-label="Editor mode"
    i18n-aria-label="@@toolbar.mode.aria"
  >
    <mat-button-toggle
      value="json"
      matTooltip="JSON only"
      i18n-matTooltip="@@toolbar.mode.json.tooltip"
    >
      <ng-container i18n="@@toolbar.mode.json.label">JSON</ng-container>
    </mat-button-toggle>
    <mat-button-toggle
      value="jsonc"
      matTooltip="JSON with comments"
      i18n-matTooltip="@@toolbar.mode.jsonc.tooltip"
    >
      <ng-container i18n="@@toolbar.mode.jsonc.label">JSONC</ng-container>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <span class="spacer"></span>

  <button
    type="button"
    mat-icon-button
    matTooltip="Toggle layout"
    i18n-matTooltip="@@toolbar.layout.tooltip"
    aria-label="Toggle layout"
    i18n-aria-label="@@toolbar.layout.aria"
    (click)="toggleLayout.emit()"
  >
    <mat-icon>{{ layoutIcon }}</mat-icon>
  </button>

  <button
    type="button"
    mat-icon-button
    matTooltip="Toggle theme"
    i18n-matTooltip="@@toolbar.theme.tooltip"
    aria-label="Toggle theme"
    i18n-aria-label="@@toolbar.theme.aria"
    (click)="toggleTheme.emit()"
  >
    <mat-icon>{{ themeIcon }}</mat-icon>
  </button>
</div>
