<header class="app-header" role="banner">
  <a
    class="brand"
    routerLink="/"
    aria-label="JotJSON - back to editor"
    i18n-aria-label="@@appHeader.brand.aria"
  >
    <span class="brand-name">JotJSON</span>
  </a>

  <div class="slot">
    <ng-content></ng-content>
  </div>

  <div class="auth">
    @if (authConfigured) {
      @if (isSignedIn()) {
        <a
          class="user-name"
          routerLink="/profile"
          matTooltip="View profile"
          i18n-matTooltip="@@appHeader.profile.tooltip"
          aria-label="View profile"
          i18n-aria-label="@@appHeader.profile.aria"
        >{{ user()?.displayName }}</a>
        <button
          type="button"
          mat-icon-button
          matTooltip="Sign out"
          i18n-matTooltip="@@appHeader.signOut.tooltip"
          aria-label="Sign out"
          i18n-aria-label="@@appHeader.signOut.aria"
          (click)="onSignOut()"
        >
          <jj-icon name="sign-out" />
        </button>
      } @else {
        <button
          type="button"
          mat-icon-button
          matTooltip="Sign in"
          i18n-matTooltip="@@appHeader.signIn.tooltip"
          aria-label="Sign in"
          i18n-aria-label="@@appHeader.signIn.aria"
          (click)="onSignIn()"
        >
          <jj-icon name="sign-in" />
        </button>
      }
    } @else {
      <button
        type="button"
        mat-icon-button
        disabled
        matTooltip="Sign in (not configured)"
        i18n-matTooltip="@@appHeader.signIn.notConfigured.tooltip"
        aria-label="Sign in (not configured)"
        i18n-aria-label="@@appHeader.signIn.notConfigured.aria"
      >
        <jj-icon name="sign-in" />
      </button>
    }
  </div>
</header>
