@use './styles/variables' as *;
@use './styles/theme';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-ui);
  -webkit-font-smoothing: antialiased;
}

code,
pre {
  font-family: var(--font-mono);
}
